body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.url_table {
    max-width: 500px !important;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.compare {
    width: 300px;
    float: right;
    margin-bottom: 15px;
}